<a href="https://colab.research.google.com/github/alubillijyaneswarrao-creator/PythonLibraries/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS

In [2]:
import numpy as np
import pandas as pd
print(pd.__version__)

2.2.2

In [3]:
#Series
#1-D labelled Array , can hold any data type
data = [100,200,300]
t=pd.Series(data)
print(t)

0    100
1    200
2    300
dtype: int64

In [10]:
#Series
#1-D labelled Array , can hold any data type
data = ['a','b','c']
t=pd.Series(data)
print(t)

0    a
1    b
2    c
dtype: object

In [7]:
#Series
#1-D labelled Array , can hold any data type
data = [100,200,300]
t=pd.Series(data,index=['a','b','c'])
print(t)

a    100
b    200
c    300
dtype: int64

In [8]:
#Series
#1-D labelled Array , can hold any data type
data = [100,200,300]
t=pd.Series(data,index=['a','b','c'])
print(t.loc['a'])

100

In [12]:
#Series
#1-D labelled Array , can hold any data type
data = [100,200,300]
t=pd.Series(data,index=['a','b','c'])
t.loc['c'] = 1000
print(t)

a     100
b     200
c    1000
dtype: int64

In [14]:
#Series
#1-D labelled Array , can hold any data type
data = [100,200,300]
t=pd.Series(data,index=['a','b','c'])
print(t.iloc[1])

200

In [17]:
#Series
#1-D labelled Array , can hold any data type
data = [100,200,300,400,202]
t=pd.Series(data,index=['a','b','c','d','e'])
print(t[t >= 200])

b    200
c    300
d    400
e    202
dtype: int64

In [25]:
cal = {
    'Day 1':1750,
    'Day 2':2100,
    'Day 3':300
}
t = pd.Series(cal)

print(t.loc['Day 1'])
print(t.iloc[1])
print(t)
t.loc['Day 1'] = 1000
print(t)

print(cal[cal < 2000])

1750
2100
Day 1    1750
Day 2    2100
Day 3     300
dtype: int64
Day 1    1000
Day 2    2100
Day 3     300
dtype: int64

TypeError: '<' not supported between instances of 'dict' and 'int'

In [39]:
#DataFram : A tabular data structure with rows and columns. 2-D
import pandas as pd
dat = {
    "Name":["bob","cab","mathe"],
    "Age":[20,30,40]
}
df = pd.DataFrame(dat,index=['Enpl 1','Emp 2','Emp 3'])
print(df.loc['Enpl 1'])
print(df.iloc[1])
print(df)
#ADD NEW COLUMN
df['Job'] = ['Engineer','N/A','Manager']
print(df)
#Add New Row
new_row = pd.DataFrame([{'Name':'Sandy','Age':28,'Job':'teacher'},{'Name':'San','Age':20,'Job':'Painter'}],index=['Emp 5','Emp 6'])
print(new_row)
df = pd.concat([df,new_row],ignore_index=True)
print(df)

Name    bob
Age      20
Name: Enpl 1, dtype: object
Name    cab
Age      30
Name: Emp 2, dtype: object
         Name  Age
Enpl 1    bob   20
Emp 2     cab   30
Emp 3   mathe   40
         Name  Age       Job
Enpl 1    bob   20  Engineer
Emp 2     cab   30       N/A
Emp 3   mathe   40   Manager
        Name  Age      Job
Emp 5  Sandy   28  teacher
Emp 6    San   20  Painter
    Name  Age       Job
0    bob   20  Engineer
1    cab   30       N/A
2  mathe   40   Manager
3  Sandy   28   teacher
4    San   20   Painter

#Import csv and json files using pandas

In [42]:
import pandas as pd
df = pd.read_csv('Mall_Customers.csv')
print(df)
print("To print whole table use to_string() function")
print(df.to_string())

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
5             6  Female   22                  17                      76
6             7  Female   35                  18                       6
7             8  Female   23                  18                      94
8             9    Male   64                  19                       3
9            10  Female   30                  19                      72
10           11    Male   67                  19                      14
11           12  Female   35                  19                      99
12           13  Female   58                  20                      15
13           14  Female   24                  20                      77
14           15    Male   37                  20                      13
15           16    Male   22                  20                      79
16           17  Female   35                  21                      35
17           18    Male   20                  21                      66
18           19    Male   52                  23                      29
19           20  Female   35                  23                      98
20           21    Male   35                  24                      35
21           22    Male   25                  24                      73
22           23  Female   46                  25                       5
23           24    Male   31                  25                      73
24           25  Female   54                  28                      14
25           26    Male   29                  28                      82
26           27  Female   45                  28                      32
27           28    Male   35                  28                      61
28           29  Female   40                  29                      31
29           30  Female   23                  29                      87
30           31    Male   60                  30                       4
31           32  Female   21                  30                      73
32           33    Male   53                  33                       4
33           34    Male   18                  33                      92
34           35  Female   49                  33                      14
35           36  Female   21                  33                      81
36           37  Female   42                  34                      17
37           38  Female   30                  34                      73
38           39  Female   36                  37                      26
39           40  Female   20                  37                      75
40           41  Female   65                  38                      35
41           42    Male   24                  38                      92
42           43    Male   48                  39                      36
43           44  Female   31                  39                      61
44           45  Female   49                  39                      28
45           46  Female   24                  39                      65
46           47  Female   50                  40                      55
47           48  Female   27                  40                      47
48           49  Female   29                  40                      42
49           50  Female   31                  40                      42
50           51  Female   49                  42                      52
51           52    Male   33                  42                      60
52           53  Female   31                  43                      54
53           54    Male   59                  43                      60
54           55  Female   50                  43                      45
55           56    Male   47                  43                      41
56           57  Female   51                  44                      50
57           58    Male   69                  44                      46
58           59  Female   27                  46                      51
59           60    Male   53                  46                      46
60           61    Male   70                  46                      56
61           62    Male   19                  46                      55
62           63  Female   67                  47                      52
63           64  Female   54                  47                      59
64           65    Male   63                  48                      51
65           66    Male   18                  48                      59
66           67  Female   43                  48                      50
67           68  Female   68                  48                      48
68           69    Male   19                  48                      59
69           70  Female   32                  48                      47
70           71    Male   70                  49                      55
71           72  Female   47                  49                      42
72           73  Female   60                  50                      49
73           74  Female   60                  50                      56
74           75    Male   59                  54                      47
75           76    Male   26                  54                      54
76           77  Female   45                  54                      53
77           78    Male   40                  54                      48
78           79  Female   23                  54                      52
79           80  Female   49                  54                      42
80           81    Male   57                  54                      51
81           82    Male   38                  54                      55
82           83    Male   67                  54                      41
83           84  Female   46                  54                      44
84           85  Female   21                  54                      57
85           86    Male   48                  54                      46
86           87  Female   55                  57                      58
87           88  Female   22                  57                      55
88           89  Female   34                  58                      60
89           90  Female   50                  58                      46
90           91  Female   68                  59                      55
91           92    Male   18                  59                      41
92           93    Male   48                  60                      49
93           94  Female   40                  60                      40
94           95  Female   32                  60                      42
95           96    Male   24                  60                      52
96           97  Female   47                  60                      47
97           98  Female   27                  60                      50
98           99    Male   48                  61                      42
99          100    Male   20                  61                      49
100         101  Female   23                  62                      41
101         102  Female   49                  62                      48
102         103    Male   67                  62                      59
103         104    Male   26                  62                      55
104         105    Male   49                  62                      56
105         106  Female   21                  62                      42
106         107  Female   66                  63                      50
107         108    Male   54                  63                      46
108         109    Male   68                  63                      43
109         110    Male   66                  63                      48
110         111    Male   65                  63                      52
111         112  Female   19                  63                      54
112         113  Female   38                  64                      42
113         114    Male   19                  64                      46
114         115  Female   18                  65                      48
115         116  Female   19                  65                      50
116         117  Female   63                  65                      43
117         118  Female   49                  65                      59
118         119  Female   51                  67                      43
119         120  Female   50                  67                      57
120         121    Male   27                  67                      56
121         122  Female   38                  67                      40
122         123  Female   40                  69                      58
123         124    Male   39                  69                      91
124         125  Female   23                  70                      29
125         126  Female   31                  70                      77
126         127    Male   43                  71                      35
127         128    Male   40                  71                      95
128         129    Male   59                  71                      11
129         130    Male   38                  71                      75
130         131    Male   47                  71                       9
131         132    Male   39                  71                      75
132         133  Female   25                  72                      34
133         134  Female   31                  72                      71
134         135    Male   20                  73                       5
135         136  Female   29                  73                      88
136         137  Female   44                  73                       7
137         138    Male   32                  73                      73
138         139    Male   19                  74                      10
139         140  Female   35                  74                      72
140         141  Female   57                  75                       5
141         142    Male   32                  75                      93
142         143  Female   28                  76                      40
143         144  Female   32                  76                      87
144         145    Male   25                  77                      12
145         146    Male   28                  77                      97
146         147    Male   48                  77                      36
147         148  Female   32                  77                      74
148         149  Female   34                  78                      22
149         150    Male   34                  78                      90
150         151    Male   43                  78                      17
151         152    Male   39                  78                      88
152         153  Female   44                  78                      20
153         154  Female   38                  78                      76
154         155  Female   47                  78                      16
155         156  Female   27                  78                      89
156         157    Male   37                  78                       1
157         158  Female   30                  78                      78
158         159    Male   34                  78                       1
159         160  Female   30                  78                      73
160         161  Female   56                  79                      35
161         162  Female   29                  79                      83
162         163    Male   19                  81                       5
163         164  Female   31                  81                      93
164         165    Male   50                  85                      26
165         166  Female   36                  85                      75
166         167    Male   42                  86                      20
167         168  Female   33                  86                      95
168         169  Female   36                  87                      27
169         170    Male   32                  87                      63
170         171    Male   40                  87                      13
171         172    Male   28                  87                      75
172         173    Male   36                  87                      10
173         174    Male   36                  87                      92
174         175  Female   52                  88                      13
175         176  Female   30                  88                      86
176         177    Male   58                  88                      15
177         178    Male   27                  88                      69
178         179    Male   59                  93                      14
179         180    Male   35                  93                      90
180         181  Female   37                  97                      32
181         182  Female   32                  97                      86
182         183    Male   46                  98                      15
183         184  Female   29                  98                      88
184         185  Female   41                  99                      39
185         186    Male   30                  99                      97
186         187  Female   54                 101                      24
187         188    Male   28                 101                      68
188         189  Female   41                 103                      17
189         190  Female   36                 103                      85
190         191  Female   34                 103                      23
191         192  Female   32                 103                      69
192         193    Male   33                 113                       8
193         194  Female   38                 113                      91
194         195  Female   47                 120                      16
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

In [43]:
#Json files
import pandas as pd
df = pd.read_json('data.json')
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500  None        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250  None        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500  None        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000  None        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500  None        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500  None        Q

[891 rows x 12 columns]

In [44]:
#Selection techniques
import pandas as pd
df = pd.read_csv('Mall_Customers.csv')
print(df.head())
print(df.tail())
print(df.info())
print(df.describe)

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
<bound method NDFrame.describe of      CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [45]:
import pandas as pd
df = pd.read_csv('Mall_Customers.csv')
print(df['Gender'].to_string())

0        Male
1        Male
2      Female
3      Female
4      Female
5      Female
6      Female
7      Female
8        Male
9      Female
10       Male
11     Female
12     Female
13     Female
14       Male
15       Male
16     Female
17       Male
18       Male
19     Female
20       Male
21       Male
22     Female
23       Male
24     Female
25       Male
26     Female
27       Male
28     Female
29     Female
30       Male
31     Female
32       Male
33       Male
34     Female
35     Female
36     Female
37     Female
38     Female
39     Female
40     Female
41       Male
42       Male
43     Female
44     Female
45     Female
46     Female
47     Female
48     Female
49     Female
50     Female
51       Male
52     Female
53       Male
54     Female
55       Male
56     Female
57       Male
58     Female
59       Male
60       Male
61       Male
62     Female
63     Female
64       Male
65       Male
66     Female
67     Female
68       Male
69     Female
70       Male
71     Female
72     Female
73     Female
74       Male
75       Male
76     Female
77       Male
78     Female
79     Female
80       Male
81       Male
82       Male
83     Female
84     Female
85       Male
86     Female
87     Female
88     Female
89     Female
90     Female
91       Male
92       Male
93     Female
94     Female
95       Male
96     Female
97     Female
98       Male
99       Male
100    Female
101    Female
102      Male
103      Male
104      Male
105    Female
106    Female
107      Male
108      Male
109      Male
110      Male
111    Female
112    Female
113      Male
114    Female
115    Female
116    Female
117    Female
118    Female
119    Female
120      Male
121    Female
122    Female
123      Male
124    Female
125    Female
126      Male
127      Male
128      Male
129      Male
130      Male
131      Male
132    Female
133    Female
134      Male
135    Female
136    Female
137      Male
138      Male
139    Female
140    Female
141      Male
142    Female
143    Female
144      Male
145      Male
146      Male
147    Female
148    Female
149      Male
150      Male
151      Male
152    Female
153    Female
154    Female
155    Female
156      Male
157    Female
158      Male
159    Female
160    Female
161    Female
162      Male
163    Female
164      Male
165    Female
166      Male
167    Female
168    Female
169      Male
170      Male
171      Male
172      Male
173      Male
174    Female
175    Female
176      Male
177      Male
178      Male
179      Male
180    Female
181    Female
182      Male
183    Female
184    Female
185      Male
186    Female
187      Male
188    Female
189    Female
190    Female
191    Female
192      Male
193    Female
194    Female
195    Female
196    Female
197      Male
198      Male
199      Male

In [47]:
#Selection by Columns
print(df[['Age','Gender']])

     Age  Gender
0     19    Male
1     21    Male
2     20  Female
3     23  Female
4     31  Female
..   ...     ...
195   35  Female
196   45  Female
197   32    Male
198   32    Male
199   30    Male

[200 rows x 2 columns]

In [53]:
#Selection by rows
print(df.iloc[1:3])
print(df.loc[df['Gender'] == 'Male'])

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
     CustomerID Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1   Male   19                  15                      39
1             2   Male   21                  15                      81
8             9   Male   64                  19                       3
10           11   Male   67                  19                      14
14           15   Male   37                  20                      13
..          ...    ...  ...                 ...                     ...
187         188   Male   28                 101                      68
192         193   Male   33                 113                       8
197         198   Male   32                 126                      74
198         199   Male   32                 137                      18
199         200   Male   30                 137                      83

[88 rows x 5 columns]

In [54]:
print(df.loc[df['Age'] > 30])

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
4             5  Female   31                  17                      40
6             7  Female   35                  18                       6
8             9    Male   64                  19                       3
10           11    Male   67                  19                      14
11           12  Female   35                  19                      99
..          ...     ...  ...                 ...                     ...
194         195  Female   47                 120                      16
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18

[138 rows x 5 columns]

In [56]:
print(df.loc['CustomerID': '100',['Gender','Age']])

Empty DataFrame
Columns: [Gender, Age]
Index: []

In [57]:
df.loc['CustomerID':'100', ['Gender','Age']]

Empty DataFrame
Columns: [Gender, Age]
Index: []

from matplotlib import pyplot as plt
import seaborn as sns
def _plot_series(series, series_name, series_index=0):
  palette = list(sns.palettes.mpl_palette('Dark2'))
  counted = (series['index']
                .value_counts()
              .reset_index(name='counts')
              .rename({'index': 'index'}, axis=1)
              .sort_values('index', ascending=True))
  xs = counted['index']
  ys = counted['counts']
  plt.plot(xs, ys, label=series_name, color=palette[series_index % len(palette)])

fig, ax = plt.subplots(figsize=(10, 5.2), layout='constrained')
df_sorted = _df_0.sort_values('index', ascending=True)
_plot_series(df_sorted, '')
sns.despine(fig=fig, ax=ax)
plt.xlabel('index')
_ = plt.ylabel('count()')

from matplotlib import pyplot as plt
import seaborn as sns
def _plot_series(series, series_name, series_index=0):
  palette = list(sns.palettes.mpl_palette('Dark2'))
  counted = (series['Age']
                .value_counts()
              .reset_index(name='counts')
              .rename({'index': 'Age'}, axis=1)
              .sort_values('Age', ascending=True))
  xs = counted['Age']
  ys = counted['counts']
  plt.plot(xs, ys, label=series_name, color=palette[series_index % len(palette)])

fig, ax = plt.subplots(figsize=(10, 5.2), layout='constrained')
df_sorted = _df_1.sort_values('Age', ascending=True)
_plot_series(df_sorted, '')
sns.despine(fig=fig, ax=ax)
plt.xlabel('Age')
_ = plt.ylabel('count()')

In [59]:
print(df.iloc[0:11:2,0:3])

    CustomerID  Gender  Age
0            1    Male   19
2            3  Female   20
4            5  Female   31
6            7  Female   35
8            9    Male   64
10          11    Male   67

In [61]:
import pandas as pd
df = pd.read_csv('Mall_Customers.csv')

hi = input()

try:
    print(df['Gender'])   # Access column by name
except KeyError:
    print("Error")
finally:
    print("Done")

Male
0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Gender, Length: 200, dtype: object
Done

In [63]:
#Filtering is keeping rows that match condition
old = df[df['Age']>=30]
print(old)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
4             5  Female   31                  17                      40
6             7  Female   35                  18                       6
8             9    Male   64                  19                       3
9            10  Female   30                  19                      72
10           11    Male   67                  19                      14
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[145 rows x 5 columns]

In [65]:
old = df.loc[(df['Age']>=30) | (df['Gender'] == 'Male')]
print(old)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
4             5  Female   31                  17                      40
6             7  Female   35                  18                       6
8             9    Male   64                  19                       3
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[171 rows x 5 columns]

#Aggregrate

In [70]:
#Reduces a set of values into a single summary value - groupby()
df = pd.read_csv('Mall_Customers.csv')
print(df.mean(numeric_only=True))
print("Sum--------------")
print(df.sum(numeric_only=True))
print("min---------------")
print(df.min(numeric_only=True))
print("Count",df.count())

CustomerID                100.50
Age                        38.85
Annual Income (k$)         60.56
Spending Score (1-100)     50.20
dtype: float64
Sum--------------
CustomerID                20100
Age                        7770
Annual Income (k$)        12112
Spending Score (1-100)    10040
dtype: int64
min---------------
CustomerID                 1
Age                       18
Annual Income (k$)        15
Spending Score (1-100)     1
dtype: int64
Count CustomerID                200
Gender                    200
Age                       200
Annual Income (k$)        200
Spending Score (1-100)    200
dtype: int64

In [72]:
#Single column
print(df['Age'].mean(numeric_only=True))
print("Sum--------------")
print(df['Age'].sum(numeric_only=True))
print("min---------------")
print(df['Age'].min(numeric_only=True))
print("Count",df.count())

38.85
Sum--------------
7770
min---------------
18
Count CustomerID                200
Gender                    200
Age                       200
Annual Income (k$)        200
Spending Score (1-100)    200
dtype: int64

In [78]:
g= df.groupby('Age')

In [81]:
print(g['Age'].mean())

Age
18    18.0
19    19.0
20    20.0
21    21.0
22    22.0
23    23.0
24    24.0
25    25.0
26    26.0
27    27.0
28    28.0
29    29.0
30    30.0
31    31.0
32    32.0
33    33.0
34    34.0
35    35.0
36    36.0
37    37.0
38    38.0
39    39.0
40    40.0
41    41.0
42    42.0
43    43.0
44    44.0
45    45.0
46    46.0
47    47.0
48    48.0
49    49.0
50    50.0
51    51.0
52    52.0
53    53.0
54    54.0
55    55.0
56    56.0
57    57.0
58    58.0
59    59.0
60    60.0
63    63.0
64    64.0
65    65.0
66    66.0
67    67.0
68    68.0
69    69.0
70    70.0
Name: Age, dtype: float64

In [82]:
print(g['Age'].count())

Age
18     4
19     8
20     5
21     5
22     3
23     6
24     4
25     3
26     2
27     6
28     4
29     5
30     7
31     8
32    11
33     3
34     5
35     9
36     6
37     3
38     6
39     3
40     6
41     2
42     2
43     3
44     2
45     3
46     3
47     6
48     5
49     7
50     5
51     2
52     2
53     2
54     4
55     1
56     1
57     2
58     2
59     4
60     3
63     2
64     1
65     2
66     2
67     4
68     3
69     1
70     2
Name: Age, dtype: int64

In [92]:
#Data Cleaning
df = pd.read_csv('Mall_Customers.csv')
df.drop(columns=['CustomerID'],inplace = True)
print(df)

     Gender  Age  Annual Income (k$)  Spending Score (1-100)
0      Male   19                  15                      39
1      Male   21                  15                      81
2    Female   20                  16                       6
3    Female   23                  16                      77
4    Female   31                  17                      40
..      ...  ...                 ...                     ...
195  Female   35                 120                      79
196  Female   45                 126                      28
197    Male   32                 126                      74
198    Male   32                 137                      18
199    Male   30                 137                      83

[200 rows x 4 columns]